body {
    font-family: Segoe UI;
}

    body > section {
        border: 1px solid black;
        border-radius: 6px;
        box-shadow: 2px 2px 13px black;
        margin: 5% auto auto auto;
        width: 462px;
        padding: 0.1em;
    }

        body > section header {
            padding: 0;
            height: 25px;
        }

            /* Calculator Icon */
            body > section header #icon {
                background: #ccdfec; /* Old browsers */
                background: -moz-linear-gradient(left, #ccdfec 0%, #76bbe6 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ccdfec), color-stop(100%,#76bbe6)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left, #ccdfec 0%,#76bbe6 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left, #ccdfec 0%,#76bbe6 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left, #ccdfec 0%,#76bbe6 100%); /* IE10+ */
                background: linear-gradient(to right, #ccdfec 0%,#76bbe6 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfec', endColorstr='#76bbe6',GradientType=1 ); /* IE6-9 */
                width: 0.77em;
                height: 0.98em;
                display: inline-block;
                border-radius: 0.05em;
                margin-top: 0.32em;
                margin-left: 0.34em;
                border: 0.02em solid rgb(120,167,194);
                position: absolute;
                box-shadow: 0 0 0.05em white inset;
            }

                /* Icon display */
                body > section header #icon span:first-of-type {
                    border: 0.03em solid rgb(120,167,194);
                    background: rgb(182, 217, 245);
                    display: inline-block;
                    margin-top: 0.08em;
                    margin-left: 0.05em;
                    width: 0.64em;
                    height: 0.35em;
                    position: absolute;
                    box-shadow: 0 0.08em 0 rgb(253, 175,64) inset;
                }

                /* Icon buttons */
                body > section header #icon span:nth-of-type(2) {
                    background: rgb(129, 179, 209);
                    display: inline-block;
                    margin-top: 0.52em;
                    margin-left: 0.05em;
                    width: 0.08em;
                    height: 0.07em;
                    position: absolute;
                    box-shadow: 0.12em 0 0 rgb(113, 159, 187), 0.24em 0 0 rgb(113, 159, 187), 0.36em 0 0 rgb(113, 159, 187), 0.48em 0 0 rgb(113, 159, 187), 0.60em 0 0 rgb(113, 159, 187), 0 0.11em 0 rgb(237, 235, 235), 0.12em 0.11em 0 rgb(237, 235, 235), 0.24em 0.11em 0 rgb(237, 235, 235), 0.36em 0.11em 0 rgb(113, 159, 187), 0.48em 0.11em 0 rgb(113, 159, 187), 0.60em 0.11em 0 rgb(113, 159, 187), 0 0.22em 0 rgb(237, 235, 235), 0.12em 0.22em 0 rgb(237, 235, 235), 0.24em 0.22em 0 rgb(237, 235, 235), 0.36em 0.22em 0 rgb(113, 159, 187), 0.48em 0.22em 0 rgb(113, 159, 187), 0.60em 0.22em 0 rgb(246, 169, 48), 0.60em 0.28em 0 rgb(246, 169, 48), 0 0.33em 0 rgb(237, 235, 235), 0.12em 0.33em 0 rgb(237, 235, 235), 0.24em 0.33em 0 rgb(237, 235, 235), 0.36em 0.33em 0 rgb(113, 159, 187), 0.48em 0.33em 0 rgb(113, 159, 187), 0.60em 0.33em 0 rgb(246, 169, 48);
                }

                /*Icon zero number*/
                body > section header #icon span:last-of-type {
                    font-family: Consolas;
                    font-size: 0.3em;
                    color: rgb(75, 108, 127);
                    position: absolute;
                    margin-top: 0.48em;
                    cursor: default;
                    margin-left: 1.7em;
                }

            /* Title */
            body > section header h1 {
                z-index: 100;
                margin: 0 0 0 0.3em;
                display: inline-block;
                font-size: 13px;
                font-weight: normal;
                vertical-align: middle;
                padding-left: 1.7em;
            }

            /* Main page buttons */
            body > section header > table {
                margin: -0.1em 5px 0 0;
                float: right;
                border-spacing: 0;
            }

                body > section header > table button {
                    text-shadow: 1px 1px 0 #555, -1px 1px 0 #555, 1px -1px 0 #555, -1px -1px 0 #555, 0px 1px 0 #555, 0px -1px 0 #555, -1px 0px 0 #555, 1px 0px 0 #555;
                    width: 30px;
                    height: 22px;
                    display: block;
                    border: 1px solid #666;
                    border-top: none;
                    box-shadow: 0 0 1px white inset;
                    color: white;
                    font-weight: bold;
                    font-family: Consolas;
                    background: rgb(248,248,248); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(231,231,231,1) 41%, rgba(207,207,207,1) 57%, rgba(207,207,207,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(41%,rgba(231,231,231,1)), color-stop(57%,rgba(207,207,207,1)), color-stop(100%,rgba(207,207,207,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(231,231,231,1) 41%,rgba(207,207,207,1) 57%,rgba(207,207,207,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(231,231,231,1) 41%,rgba(207,207,207,1) 57%,rgba(207,207,207,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(231,231,231,1) 41%,rgba(207,207,207,1) 57%,rgba(207,207,207,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(231,231,231,1) 41%,rgba(207,207,207,1) 57%,rgba(207,207,207,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
                }

                /* Minimize button */
                body > section header > table td:first-child button {
                    border-right: none;
                    border-bottom-left-radius: 5px;
                    margin-right: -0.1em;
                }

                    body > section header > table td:first-child button span {
                        background: white;
                        width: 1.2em;
                        height: 0.25em;
                        margin: 12px -2px;
                        display: inline-block;
                        border: 1px solid #555;
                    }

                    body > section header > table td:first-child button:hover {
                        position: relative;
                        background: rgba(139,185,219, 0.8); /* Old browsers */
                        background: -moz-linear-gradient(top, rgba(139,185,219,0.8) 0%, rgba(75,158,216,0.8) 40%, rgba(27,111,168,0.8) 56%, rgba(27,111,168,0.8) 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,185,219,0.8)), color-stop(40%,rgba(75,158,216,0.8)), color-stop(56%,rgba(27,111,168,0.8)), color-stop(100%,rgba(27,111,168,0.5))); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, rgba(139,185,219,0.8) 0%,rgba(75,158,216,0.8) 40%,rgba(27,111,168,0.8) 56%,rgba(27,111,168,0.8) 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, rgba(139,185,219,0.8) 0%,rgba(75,158,216,0.8) 40%,rgba(27,111,168,0.8) 56%,rgba(27,111,168,0.8) 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, rgba(139,185,219,0.8) 0%,rgba(75,158,216,0.8) 40%,rgba(27,111,168,0.8) 56%,rgba(27,111,168,0.8) 100%); /* IE10+ */
                        background: linear-gradient(to bottom, rgba(139,185,219,0.8) 0%,rgba(75,158,216,0.8) 40%,rgba(27,111,168,0.8) 56%,rgba(27,111,168,0.8) 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb9db', endColorstr='#1b6fa8',GradientType=0 ); /* IE6-9 */
                        box-shadow: 0 0 10px #0065cb;
                    }

                /* Maximize button */
                body > section header > table td:nth-child(2) button {
                    text-shadow: 1px 1px 0 #aaa, -1px 1px 0 #aaa, 1px -1px 0 #aaa, -1px -1px 0 #aaa, 0px 1px 0 #aaa, 0px -1px 0 #aaa, -1px 0px 0 #aaa, 1px 0px 0 #aaa;
                    margin-right: -0.1em;
                }

                    body > section header > table td:nth-child(2) button span {
                        width: 0.7em;
                        height: 0.45em;
                        margin-top: 5px;
                        display: inline-block;
                        border: 0.22em solid #e6e6e6;
                        box-shadow: gray 0 0 1px inset, gray 0 0 1px;
                    }

                /* Close button */
                body > section header > table td:last-child {
                    border-bottom-right-radius: 5px;
                    background: rgb(177,71,57); /* Old browsers */
                    background: -moz-linear-gradient(left, rgba(177,71,57,1) 0%, rgba(216,77,53,1) 50%, rgba(177,71,57,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(177,71,57,1)), color-stop(50%,rgba(216,77,53,1)), color-stop(100%,rgba(177,71,57,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(left, rgba(177,71,57,1) 0%,rgba(216,77,53,1) 50%,rgba(177,71,57,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(left, rgba(177,71,57,1) 0%,rgba(216,77,53,1) 50%,rgba(177,71,57,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(left, rgba(177,71,57,1) 0%,rgba(216,77,53,1) 50%,rgba(177,71,57,1) 100%); /* IE10+ */
                    background: linear-gradient(to right, rgba(177,71,57,1) 0%,rgba(216,77,53,1) 50%,rgba(177,71,57,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b14739', endColorstr='#b14739',GradientType=1 ); /* IE6-9 */
                }

                    body > section header > table td:last-child button {
                        width: 52px;
                        color: white;
                        border-bottom-right-radius: 5px;
                        font-size: 22px;
                        line-height: 0;
                        background: rgb(242,242,242);
                        background: -moz-linear-gradient(top, rgba(242,242,242,0.5)0%, rgba(244,211,205,0.5)37%, rgba(214,37,2,0.5)59%, rgba(211,35,0,0.5)100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(37%,rgba(244,211,205,1)), color-stop(59%,rgba(214,37,2,1)), color-stop(100%,rgba(211,35,0,1)));
                        background: -webkit-linear-gradient(top, rgba(242,242,242,0.5)0%,rgba(244,211,205,0.5)37%,rgba(214,37,2,0.5)59%,rgba(211,35,0,0.5)100%);
                        background: -o-linear-gradient(top, rgba(242,242,242,0.5)0%,rgba(244,211,205,0.5)37%,rgba(214,37,2,0.5)59%,rgba(211,35,0,0.5)100%);
                        background: -ms-linear-gradient(top, rgba(242,242,242,0.5)0%,rgba(244,211,205,0.5)37%,rgba(214,37,2,0.5)59%,rgba(211,35,0,0.5)100%);
                        background: linear-gradient(to bottom, rgba(242,242,242,0.5)0%,rgba(244,211,205,0.5)37%,rgba(214,37,2,0.5)59%,rgba(211,35,0,0.5)100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d32300',GradientType=0 );
                    }

                        body > section header > table td:last-child button:hover {
                            box-shadow: 0 0 10px #e40d0d;
                            border-bottom-right-radius: 5px;
                        }

        body > section > section {
            background: rgb(237,244,252); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(237,244,252,1) 0%, rgba(217,228,241,1) 30%, rgba(217,228,241,1) 100%, rgba(217,228,241,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,244,252,1)), color-stop(30%,rgba(217,228,241,1)), color-stop(100%,rgba(217,228,241,1)), color-stop(100%,rgba(217,228,241,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(237,244,252,1) 0%,rgba(217,228,241,1) 30%,rgba(217,228,241,1) 100%,rgba(217,228,241,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(237,244,252,1) 0%,rgba(217,228,241,1) 30%,rgba(217,228,241,1) 100%,rgba(217,228,241,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(237,244,252,1) 0%,rgba(217,228,241,1) 30%,rgba(217,228,241,1) 100%,rgba(217,228,241,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(237,244,252,1) 0%,rgba(217,228,241,1) 30%,rgba(217,228,241,1) 100%,rgba(217,228,241,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4fc', endColorstr='#d9e4f1',GradientType=0 ); /* IE6-9 */
            margin: 0.3em;
            border: 1px solid #aaa;
        }

    /* Remove the border on all buttons */
    body button:focus {
        outline: 0;
    }

/* Navigation menu */
nav {
    z-index: 100;
    height: 20px;
    font-size: 14px;
    padding-left: 0.2em;
    border-bottom: 1px solid #aaa;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,234,245,1) 38%, rgba(212,219,239,1) 40%, rgba(225,230,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(38%,rgba(229,234,245,1)), color-stop(40%,rgba(212,219,239,1)), color-stop(100%,rgba(225,230,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,234,245,1) 38%,rgba(212,219,239,1) 40%,rgba(225,230,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,234,245,1) 38%,rgba(212,219,239,1) 40%,rgba(225,230,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,234,245,1) 38%,rgba(212,219,239,1) 40%,rgba(225,230,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,234,245,1) 38%,rgba(212,219,239,1) 40%,rgba(225,230,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e6f6',GradientType=0 ); /* IE6-9 */
}

    nav ul {
        padding: 0;
        list-style-type: none;
    }

        nav ul li.selected {
            list-style-type: disc;
        }

    nav > ul > li > a {
        display: inline-block;
        text-decoration: none;
        border: 1px solid transparent;
        padding: 0.3em 4px 0.4em 4px;
        margin-left: -2px;
        line-height: 5px;
        cursor: default;
        color: black;
    }

        nav > ul > li > a span:first-child {
            text-decoration: underline;
        }

        nav > ul > li > a:hover {
            border: 1px solid #aaa;
            border-radius: 3px;
        }

    nav > ul > li, nav > ul {
        display: inline-block;
        margin: 0;
        cursor: default;
    }

        nav > ul ul {
            display: none;
            border: 1px solid #aaa;
            font-size: 13px;
            background: #f0f0f0;
            padding-left: 27px;
            position: absolute;
            z-index: 200;
            box-shadow: 1px 1px 2px #555;
        }

        nav > ul > li:hover > ul {
            display: block;
        }

        nav > ul > li > ul > li:hover > ul {
            display: inline-block;
            left: 185px;
        }

        nav > ul ul li {
            padding: 0.1em 0.4em;
            border: 1px solid transparent;
            border-left: 1px inset rgba(221, 221, 221, 0.3);
            width: 150px;
        }

            nav > ul ul li:hover:not(.disabled) {
                background: rgb(236, 240, 246);
                border: 1px solid rgb(174, 207, 247);
                border-radius: 3px;
            }

            nav > ul ul li span:nth-child(2) {
                float: right;
            }

            nav > ul ul li #arrow {
                font-size: 8px;
            }

            nav > ul ul li hr {
                margin: 0;
                opacity: 0.4;
                color: #ccc;
            }

        nav > ul > li > ul > li a {
            text-decoration: none;
            cursor: default;
            color: black;
        }

        nav > ul > li > ul > li.disabled a {
            color: #888;
        }

/* Glass shield over display */
#GlassShield {
    position: absolute;
    width: 450px;
    height: 65px;
    background: white;
    opacity: 0;
    z-index: 100;
}

/* Calculator */
form > table {
    border-spacing: 0.4em;
    margin: 0.4em;
}

    form > table th, td {
        padding: 0;
    }

    /* Memory */
    form > table thead input:first-child {
        position: absolute;
        z-index: 10;
        background: transparent;
        color: rgb(50, 50, 70);
        text-align: left;
        font-size: 15px;
        font-family: Consolas;
        padding-top: 22px;
        padding-left: 0.3em;
        height: 28px;
        border: none;
    }

    /* Display */
    form > table thead input:last-child {
        width: 420px;
        height: 40px;
        background: rgb(229,239,251); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(229,239,251,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,239,251,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(229,239,251,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(229,239,251,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(229,239,251,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(229,239,251,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5effb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        border: 1px solid white;
        box-shadow: 0 0 1px #222;
        border-radius: 2px;
        color: rgb(50, 50, 70);
        font-family: Consolas;
        font-size: 26px;
        text-align: right;
        padding-top: 10px;
        padding-right: 2px;
        vertical-align: middle;
        margin-bottom: 1px;
    }

    /* Bits */
    form > table table {
        width: 100%;
        border: 1px solid white;
        box-shadow: 0 0 1px #222;
        border-radius: 2px;
        border-spacing: 0;
        cursor: default;
        padding: 0.2em 0 2px 0.2em;
    }

        form > table table tr:nth-child(2n) span {
            color: #888;
        }

        form > table table td {
            padding-left: 0.4em;
        }

            form > table table td span {
                float: left;
                width: 0.7em;
                border: none;
                margin: 0em -0.03em auto auto;
                padding: 0;
                cursor: default;
                background: transparent;
                color: #1C3759;
                font-size: 13px;
                font-family: Consolas;
            }

    /* Radio buttons */
    form > table > tbody > tr:nth-child(3n+2) td:first-child {
        border: 1px solid #93a1b3;
        border-radius: 3px;
        width: 73px;
        color: #1C3759;
        font-size: 12px;
        padding: 0.1em;
    }

        form > table > tbody > tr:nth-child(3n+2) td:first-child label {
            vertical-align: 2px;
        }

    /* Normal buttons */
    form > table tbody button {
        height: 29px;
        width: 37px;
        color: #1C3759;
        border: 1px solid white;
        border-radius: 3px;
        box-shadow: 0 0 1px #222;
        background: rgb(240,246,251); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(240,246,251,1) 0%, rgba(230,237,245,1) 40%, rgba(212,224,237,1) 47%, rgba(217,227,241,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,246,251,1)), color-stop(40%,rgba(230,237,245,1)), color-stop(47%,rgba(212,224,237,1)), color-stop(100%,rgba(217,227,241,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(240,246,251,1) 0%,rgba(230,237,245,1) 40%,rgba(212,224,237,1) 47%,rgba(217,227,241,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(240,246,251,1) 0%,rgba(230,237,245,1) 40%,rgba(212,224,237,1) 47%,rgba(217,227,241,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(240,246,251,1) 0%,rgba(230,237,245,1) 40%,rgba(212,224,237,1) 47%,rgba(217,227,241,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(240,246,251,1) 0%,rgba(230,237,245,1) 40%,rgba(212,224,237,1) 47%,rgba(217,227,241,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f6fb', endColorstr='#d9e3f1',GradientType=0 ); /* IE6-9 */
        font-size: 0.7em;
        font-family: Segoe UI;
        position: relative;
        z-index: 10;
    }

        form > table tbody button:hover .transition1, form > table tbody button.number:hover .transition1 {
            opacity: 1;
        }

    /* Zero button */
    form > table tbody tr:last-child td:nth-child(4) button {
        width: 81px;
    }

    /* Equal button */
    form > table tbody tr:nth-child(6) td:last-child button {
        height: 65px;
        font-size: 26px;
    }

    /* Blocked Dec buttons */
    form > table tbody button.blocked {
        border: 1px solid #aaa;
        box-shadow: none;
        border-radius: 3px;
        background: transparent;
        font-family: Book Antiqua;
        font-size: 13px;
    }

    /* Blocked Oct & Bin buttons */
    form > table tbody button.oct, form > table tbody button.bin {
        border: 1px solid #aaa;
        box-shadow: none;
        border-radius: 3px;
        background: transparent;
        font-family: Segoe UI;
        font-size: 18px;
    }

    /* Letter buttons */
    form > table tbody button.letter {
        font-size: 16px;
        font-family: Segoe UI;
    }

    /* Number buttons */
    form > table tbody button.number {
        border: 1px solid white;
        box-shadow: 0 0 1px #222;
        border-radius: 3px;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,245,249,1) 44%, rgba(235,241,247,1) 47%, rgba(235,242,249,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(44%,rgba(239,245,249,1)), color-stop(47%,rgba(235,241,247,1)), color-stop(100%,rgba(235,242,249,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,245,249,1) 44%,rgba(235,241,247,1) 47%,rgba(235,242,249,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,245,249,1) 44%,rgba(235,241,247,1) 47%,rgba(235,242,249,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,245,249,1) 44%,rgba(235,241,247,1) 47%,rgba(235,242,249,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,245,249,1) 44%,rgba(235,241,247,1) 47%,rgba(235,242,249,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebf2f9',GradientType=0 ); /* IE6-9 */
        font-size: 18px;
    }

    /* Backspace arrow */
    form > table > tbody > tr:nth-child(3) td:nth-child(4) button {
        font-size: 28px;
        font-family: Lucida Console;
        line-height: 25px;
    }

    /* Operation buttons */
    form > table > tbody button.operation {
        font-size: 16px;
    }

    /* Memory buttons */
    form > table > tbody > tr:nth-child(2) td:nth-last-child(-n+5) button {
        border: 1px solid white;
        box-shadow: 0 0 1px #222;
        border-radius: 3px;
        background: transparent;
        position: relative;
        z-index: 10;
    }

        form > table > tbody > tr:nth-child(2) td:nth-last-child(-n+5) button:hover .transition2 {
            opacity: 1;
        }

/* Transitions */
.transition1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 0 3px yellow inherit;
    background: rgb(255,245,233); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,245,233,1) 0%, rgba(255,228,199,1) 45%, rgba(255,208,109,1) 57%, rgba(255,234,133,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,245,233,1)), color-stop(45%,rgba(255,228,199,1)), color-stop(57%,rgba(255,208,109,1)), color-stop(100%,rgba(255,234,133,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,245,233,1) 0%,rgba(255,228,199,1) 45%,rgba(255,208,109,1) 57%,rgba(255,234,133,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,245,233,1) 0%,rgba(255,228,199,1) 45%,rgba(255,208,109,1) 57%,rgba(255,234,133,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,245,233,1) 0%,rgba(255,228,199,1) 45%,rgba(255,208,109,1) 57%,rgba(255,234,133,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,245,233,1) 0%,rgba(255,228,199,1) 45%,rgba(255,208,109,1) 57%,rgba(255,234,133,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5e9', endColorstr='#ffea85',GradientType=0 ); /* IE6-9 */
    -o-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -khtml-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.transition2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 0 3px yellow inherit;
    background: rgb(255,206,104); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,206,104,1) 0%, rgba(255,208,109,1) 48%, rgba(255,237,135,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,206,104,1)), color-stop(48%,rgba(255,208,109,1)), color-stop(100%,rgba(255,237,135,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,206,104,1) 0%,rgba(255,208,109,1) 48%,rgba(255,237,135,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,206,104,1) 0%,rgba(255,208,109,1) 48%,rgba(255,237,135,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,206,104,1) 0%,rgba(255,208,109,1) 48%,rgba(255,237,135,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,206,104,1) 0%,rgba(255,208,109,1) 48%,rgba(255,237,135,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce68', endColorstr='#ffed87',GradientType=0 ); /* IE6-9 */
    -o-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -khtml-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
